body {
	background: url('logo.jpg') no-repeat;
	background-size: cover;
	background-position: center; 
	font-family: Arial;
	color: white;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li {
	float: left;
	width: 220px;
	height: 40px;
	background-color: black;
    opacity: 0.9;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
ul li a {
	text-decoration: none;
	color: white;
	display:block;
}
ul li a:hover {
	background-color: green;
}
ul li ul li {
	 display: none;
}
ul li:hover ul li {
	display: block;
}